NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema for the National Parks XML, based on Figure 1 in the assignment. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" type="NationalParkType" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Name, then one or more Phone numbers, then Address. -->
  <xs:complexType name="NationalParkType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Phone" type="xs:string" maxOccurs="unbounded" />
      <xs:element name="Address" type="AddressType" />
    </xs:sequence>
    <!-- Rating is optional, only some parks have it. -->
    <xs:attribute name="Rating" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string" />
      <xs:element name="Street" type="xs:string" />
      <xs:element name="City" type="xs:string" />
      <xs:element name="State" type="xs:string" />
      <xs:element name="Zip" type="xs:string" />
    </xs:sequence>
    <!-- NearestAirport is required, and every Address needs one. -->
    <xs:attribute name="NearestAirport" type="xs:string" use="required" />
  </xs:complexType>

</xs:schema>
